body {
    margin: 0%;
}

header {
  display: flex;
  justify-content: space-around; 
}

.head {
    display: flex;
    padding: 2rem;
    gap: 1rem;
}

.boton-P{
    background-color: black;
    color: white;
    height: 5rem;
    width: 10rem;
    border-radius: 1rem;


  &.boton-P:hover {
    background-color: white;
    color: black;
  }    
}

.boton-2 {
    background-color: white;
    color: black;
    height: 5rem;
    width: 10rem;
    border-radius: 1rem;

  &.boton-2:hover {
    background-color: black;
    color: white;
  }
}

.boton-escri {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    color: #ABABAB;
    height: 3rem;
    width: 30rem;
    border-radius: 0.5rem;
    
}

.boton-height {
  height: 20rem;
}

a {
    text-decoration: none;
    color: black;
}

.color-f{
  background-color: #003185;
}

.color-f-secun {
  background-color: #3D547A;
}

.color-p{
  color: white
}

.presentacion {
    padding: 50px;
    height: auto;
    align-items: center;
}

.bloques{
  padding: 8rem;
  width: 50%;
}

.columnas {
  display: grid;
  grid-template-columns: repeat(2, 50%) ;
}

.flex {
  display: flex;
  flex-flow: row;
}


img {
    width: 2rem;
    height: fit-content;
}

.img-p {
  height: auto;
  width: 20rem;
}