body {
    margin: 0%;
}

header {
  display: flex;
  justify-content: space-around; 
}

.head {
  display: flex;
  padding: 2rem;
  gap: 1rem;
}

/* botones */
.boton-P {
  background-color: black;
  color: white;
  height: 5rem;
  width: 10rem;
  border-radius: 1rem;


  &:hover {
    background-color: white;
    color: black;
    transition: 0.3s ease;
    transform: scale(1.2);
  }    
}

.boton-2 {
  background-color: white;
  color: black;
  height: 5rem;
  width: 10rem;
  border-radius: 1rem;

  &:hover {
    background-color: black;
    color: white;
    transition: 0.3s ease;
    transform: scale(1.2);
  }
}

.boton-header {
  background-color: black;
  color: white;
  height: 3rem;
  width: 8rem;
  border-radius: 1rem;

  &:hover {
    background-color: white;
    color: black;
    transition: 0.3s ease;
    transform: scale(1.2);
  }    
}


.boton-escri {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  color: #ABABAB;
  height: 3rem;
  width: 30rem;
  border-radius: 0.5rem;
}

.boton-height {
  height: 20rem;
}

/* texto y colores */

a {
  text-decoration: none;
  color: white;
}

.color-f{
  background-color: #003185;
}

.color-f-secun {
  background-color: #3D547A;
}

.color-p{
  color: white
}

/* tamaños sectiones */
.presentacion {
  padding: 50px;
  height: auto;
  align-items: center;
}

.bloques{
  padding: 8rem;
  width: auto;
}

.columnas {
  display: grid;
  grid-template-columns: repeat(2, 50%) ;
}

.columnas-3 {
  display: grid;
  grid-template-columns: repeat(3, 33%) ;
}

.flex {
  display: flex;
  flex-flow: row;
}

/* imagenes configuracion */

img {
  width: 2rem;
  height: fit-content;
}

.img-p {
  height: auto;
  width: 20rem;
}

